<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="serverPrefix" value="3"/>
    <add key="redisIp" value="34.145.24.214"/>
    <add key="redisPort" value="7875"/>
    <add key="bossChannelId" value="1387812877804769320"/>
    <add key="diceChannelId" value="0"/>
    <add key="attendChannelId" value="1362957470137581628"/>
    <add key="rareExpireMin" value="240"/>
    <add key="heroExpireMin" value="240"/>
    <add key="AcientExpireMin" value="240"/>
    <add key="bossKillWaiting" value="180"/>
  </appSettings>
</configuration>